body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f9;
}

#charts-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.chart-box {
  width: 45%;
  min-width: 300px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
}

.chart-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#geo_chart_div, #piechart {
  width: 100%;
  height: 100%; 
}

#columnchart_container {
  width: 95%;
  height: 900px;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 8px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#columnchart_material {
  width: 90%;
  height: 800px;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 8px;
  margin: 20px 0;
}

h1 {
  margin-top: 20px;
  font-family: 'Georgia', serif; 
  font-size: 32px; 
  text-align: center;
}

h2 {
  font-family: 'Georgia', serif;
  font-size: 24px; 
  color: #333;
  text-align: center;
}

h3 {
  font-family: 'Georgia', serif;
  font-size: 18px; 
  color: #333;
  text-align: center;
  /* Add the following */
  max-width: 1000px; /* Adjust as needed to control line wrapping */
  margin: 0 auto;  /* Center the h3 element horizontally */
}

h4 {
  font-family: 'Georgia', serif;
  font-size: 24px; 
  color: #333;
  text-align: center;
  /* Add the following */
  max-width: 1400px; /* Adjust as needed to control line wrapping */
  margin: 0 auto;  /* Center the h3 element horizontally */
}

.container {
  display: flex; /* Mengaktifkan flexbox */
  justify-content: space-around; /* Memberi jarak antar elemen */
  align-items: center; /* Menyelaraskan elemen secara vertikal */
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
